<link rel="stylesheet" href="/css/acc-ver.css">
<section id="acc-ver">


<div id="acc-ver-container">
    <i style="display: inline-block;color: green;
    font-size: 3rem;" class="fas fa-check-circle"></i>
    <h1 style="display: inline-block;margin-block-end: auto;">Account Verified!</h1>
</div>
<div>
    <h1>Please check your mail.</h1>
</div>
</div>

</section>