<link rel="stylesheet" href="/css/reset.css">
<section id =reset-section>
  <div id="reset-container">



<form action="/auth/reset?accessToken=<%=accessToken%>" method="POST" class="login-form">
<h1>Change Your Password</h1>
    <% if(false){ %>
    <div class="alert error-dailog">Error</div>
    <% } %>
    <div class="form-outline mb-4">
      <input type="password" name="password" placeholder="Password" required id="form2Example2" class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>
    <div class="form-outline mb-4">
      <input type="password" name="confirm_password" placeholder="Confirm Password" required id="form2Example2" class="form-control" />
      <label class="form-label" for="confirm_password">Password</label>
    </div>
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Chage Password">
  </form>

</div>
</section>