<link rel="stylesheet" href="/css/verify.css">
<section id="email-verification">
<div id ="email-container">

<form method="POST" action='/auth/verify_email' class="login-form">

  <h1>Enter Your email account</h1>
  
  <div class="form-outline mb-4">
    <input type="email" name="email" placeholder="Your Email" required id="form2Example1" class="form-control" />
   
  </div>

  <div class="field">
   
    <input type="submit" value="Verify Your Email"class="btn btn-primary btn-block mb-4">
  </div>
</form>
</div>
</section>